**/.ipynb_checkpoints/**
/data/
**/devtest.jl
*.mem
*.ipynb
*.DS_Store
/**/test.h5
docs/build/
/ryan/  
.vscode/
/Manifest.toml
docs/Manifest.toml
dev/levy.jl
.JuliaFormatter.toml
reyk_local/
.JuliaFormatter.toml
