**/.ipynb_checkpoints/**
/data/
**/devtest.jl
*.mem
*.ipynb
*.DS_Store
/**/test.h5
docs/build/
/ryan/  
.vscode/
/Manifest.toml
docs/Manifest.toml
dev/levy.jl
reyk_local/
test/Manifest.toml
benchmark/Manifest.toml
examples/Manifest.toml
benchmarks_output.json
